/* CSS for the style and layout of the change password page. */



/* Styling for the forget password container. */
.ChangePassword_Form {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 1.5em;      
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    max-width: 600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


/* Add a semi-circle background. */
.ChangePassword_Form::before {
    content: '';
    z-index: 0;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 43%;
    background-color: #512da8;
    background: linear-gradient(to bottom, #5c6bc0, #512da8);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

/* Styling for the forget password form container heading. */
.ChangePassword_Form h1 {
    text-align: center;
    font-family: inherit;
    color: black;
    margin-bottom: 30px;
    z-index: 1;
    position: relative;
}


/* Styling for the input field  to take 100% of the container. */
.Forget_Password_Input_Field {
    width: 100%;
}


/* Styling for the input row. */
.Input_Row{
    display: flex;
    justify-content: space-evenly;
}


/* Styling for the column. */
.Input_Col{
    flex: 1;
    margin: 15px;
}
 

/* General styling for the input field. */
.Input_Field {
   background-color: #eee;
    border: none;
    margin: 8px 1px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    height: 2.5em;
    outline: none;
    color: black;
}


/* Styling submit box. */
.Submit_Box {
    display: flex;
    justify-content: center;
    margin: 20px
}


/* Styling and positioning for submit button. */
.Submit_Field {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* Hover effect for submit button. */
.Submit_Field:hover {
    background: #412485;
    color: #fff;
}


/* Styling for the go back link. */
.Goback_Link {
    text-decoration: none;
    color: black;
}

.Error_Message {
    color: red;
    font-size: 1.1em;
    display: block;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}